<div class="separador">
</div>
<div class="caja">
  <div class="opciones">
    <div class="titulo">
      <h1>
        Elija la Especialidad
      </h1>
    </div>
    <div class="mini"></div>
      <div class="especialidades">
        <div class="option">
          <div class="especialidad">
              <h2>
                Dermatologia
              </h2>
          </div>
          <div class="elegir">
              <input type="button" value="elegir" id="dermatologia">
          </div>
        </div>
        <div class="option">
          <div class="especialidad">
              <h2>
                Odontologia
              </h2>
          </div>
          <div class="elegir">
              <input type="button" value="elegir" id="dermatologia">
          </div>
        </div>
        <div class="option">
          <div class="especialidad">
              <h2>
                Pediatria
              </h2>
          </div>
          <div class="elegir">
              <input type="button" value="elegir" id="dermatologia">
          </div>
        </div>
        <div class="option">
          <div class="especialidad">
              <h2>
                Cardiologia
              </h2>
          </div>
          <div class="elegir">
              <input type="button" value="elegir" id="dermatologia">
          </div>
        </div>
        <div class="option">
          <div class="especialidad">
              <h2>
                Neurologia
              </h2>
          </div>
          <div class="elegir">
              <input type="button" value="elegir" id="dermatologia">
          </div>
        </div>
        <div class="option">
          <div class="especialidad">
              <h2>
                Traumatologia
              </h2>
          </div>
          <div class="elegir">
              <input type="button" value="elegir" id="dermatologia">
          </div>
        </div>
      </div>
  </div>
</div>
<div class="mini">
</div>