<footer id="colophon" class="site-footer">
	<div class="site-footer-inner">
		<div class="footer-widget-area columns-3">
            <div class="footer-widget">
                <aside id="wpcw_social-4" class="widget wpcw-widgets wpcw-widget-social">
                    <h4 class="widget-title">Follow Us</h4>
                    <ul>
                        <li class="no-label">
                            <a href="https://www.whatsapp.com/" target="_blank" title="Visita Clinica Jx en WhatsApp">
                                <span class="fa fa-2x fa-whatsapp"></span>
                            </a>
                        </li>
                        <li class="no-label">
                            <a href="https://www.instagram.com/nombre%20de%20usuario" target="_blank" title="Visita Clinica Jx en Instagram">
                                <span class="fa fa-2x fa-instagram"></span>
                            </a>
                        </li>
                        <li class="no-label">
                            <a href="https://www.facebook.com/username" target="_blank" title="Visita Clinica Jx en Facebook">
                                <span class="fa fa-2x fa-facebook"></span>
                            </a>
                        </li>
                        <li class="no-label">
                            <a href="https://twitter.com/username" target="_blank" title="Visita Clinica Jx en Twitter">
                                <span class="fa fa-2x fa-twitter"></span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="footer-widget">
                <aside id="wpcw_contact-4" class="widget wpcw-widgets wpcw-widget-contact">
                    <h4 class="widget-title">Contactanos</h4>
                    <ul>
                        <li class="has-label">
                            <strong>Email</strong>
                            <br>
                            <div>
                                <a href="mailto:jj&#99;&#64;&#103;&#109;&#97;i&#108;.&#99;&#111;m">
                                    jj&#99;&#64;&#103;&#109;&#97;i&#108;.&#99;&#111;m
                                </a>
                            </div>
                        </li>
                        <li class="has-label">
                            <strong>Teléfono</strong>
                            <br>
                            <div>
                                959899525
                            </div>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="footer-widget">
                <aside id="wpcw_contact-6" class="widget wpcw-widgets wpcw-widget-contact">
                    <ul>
                        <li class="has-label">
                            <strong>Dirección</strong>
                            <br>
                            <div>Huancayo-Perú</div>
                        </li>
                        <li class="has-map">
                            <iframe src="" data-src="https://www.google.com/maps?q=Huancayo-Per%C3%BA&output=embed&hl=es&z=14" frameborder="0" class="wpcw-widget-contact-map"></iframe>
                        </li>
                    </ul>
                </aside>
		    </div>
	    </div>	
	</div><!-- .site-footer-inner -->
</footer><!-- #colophon -->


			