<div class="cabecera">
    <div class="cajas">
        <div class="palabra" id="bienvenido">
        BIENVENIDO
        </div>
        <div class="icono">
        <img src="" alt="" srcset="" class="">
        </div>
    </div>
    <div class="cajas">
        <div class="palabra" id="agenda">
        AGENDAR CITA
        </div>
        <div class="icono">
        <img src="" alt="" srcset="" class="">
        </div>
    </div>
    <div class="cajas">
        <div class="palabra" id="cerrar">
        CERRAR SESION
        </div>
        <div class="icono">
        <img src="" alt="" srcset="" class="">
        </div>
    </div>
</div>