.cajadecicion
{
    width: 100%;
    height: 5em;
}
.botones
{
    width: 50%;
    height: 3em;
    float: left;
}
.aceptar,
.postergar
{
    width: 100%;
    height: 60px;
}
button
{
    width: 50%;
    font-size: 1em;
    border-radius: 5px;
    margin: auto;
    position: relative;
    background: black;
    color: white;
}
