<!-- el body de preguntas -->
<div id="content" class="site-content">
  <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
          <article id="post-235" class="post-235 page type-page status-publish hentry">
              <div class="page-content">
                  <div class="fl-builder-content fl-builder-content-235 fl-builder-content-primary" data-post-id="235">
                      <div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-579c005185fb2" data-node="579c005185fb2">
                          <div class="fl-row-content-wrap">
                              <div class="fl-row-content fl-row-fixed-width fl-node-content">
                                  <div class="fl-col-group fl-node-579c005186ded" data-node="579c005186ded">
                                      <div class="fl-col fl-node-579c005186ee0" data-node="579c005186ee0">
                                          <div class="fl-col-content fl-node-content">
                                              <div class="fl-module fl-module-rich-text fl-node-579c005185ee3" data-node="579c005185ee3">
                                                  <div class="fl-module-content fl-node-content">
                                                      <div class="fl-rich-text">
                                                          <p style="text-align: center;">
                                                              Estimado cliente ressuelva sus dudas  mas frecuente aqui
                                                          </p>
                                                          <hr />
                                                          <h3>
                                                              ¿Qué servicios ofrecen?
                                                          </h3>
                                                          <p>
                                                              Te ofrecemos servicios de alta calidad, con equipos de última tecnología y especialistas continuamente capacitados. Entre nuestros servicios están quimioterapia, nutrición, Medicina Física y Rehabilitación, Banco de sangre, Laboratorio Clínico, Unidad de Cuidados Intensivos Pediátrico, Centro Obstétrico, Unidad de Cuidados Intensivos, Central de Esterilización, Centro Quirúrgico, Hospitalización, Densitometría Ósea, Resonancia Magnética, Tomografía, Ecografía, Rayos X, Emergencia y Farmacia.
                                                          </p>
                                                          <hr />
                                                          <div id="elementor-tab-content-1572" class="elementor-tab-content elementor-clearfix elementor-active" role="tabpanel" data-tab="2" aria-labelledby="elementor-tab-title-1572">
                                                              <h3>
                                                                  ¿Qué promociones Ofrecen?
                                                              </h3>
                                                              <p>
                                                                  Contamos con lon Viernes Económicos el 10% de Descuento en todos Nuestros Servicios Auxiliares.
                                                              </p>
                                                          </div>
                                                          <hr />
                                                          <h3>
                                                              ¿Horario de atención de los Servicios?
                                                          </h3>
                                                          <p>
                                                              La atención de nuestros servicios es de Lunes a Domingo de 7 am. a 10 pm.
                                                          </p>
                                                          <hr />
                                                          <h3>
                                                              ¿Con qué empresas tienen convenios?
                                                          ​</h3>
                                                          <div id="elementor-tab-content-1572" class="elementor-tab-content elementor-clearfix elementor-active" role="tabpanel" data-tab="2" aria-labelledby="elementor-tab-title-1572">
                                                              <ul>
                                                                  <li>
                                                                      AFOCAT – JUNIN
                                                                  </li>
                                                                  <li>
                                                                      AFOCAT – UNION
                                                                  </li>
                                                                  <li>
                                                                      AFOCAT – CENTRO NOR ORIENTE
                                                                  </li>
                                                                  <li>
                                                                      AFOCAT DE LOS TRANSPORTISTA DE LA REGIÓN JUNIN PASCO HUÁNUCO
                                                                  </li>
                                                                  <li>
                                                                      BNP PARIBAS CARDIF S.A. COMPAÑIA DE SEGUROS Y REASEGUROS
                                                                  </li>
                                                                  <li>
                                                                      CHUBB SEGUROS PERÚ S.A.
                                                                  </li>
                                                                  <li>
                                                                      CLÍNICA OFTALMOLÓGICA REGIONAL S.A.C.
                                                                  </li>
                                                                  <li>
                                                                      CRECER SEGUROS S.A. COMPAÑIA DE SEGUROS
                                                                  </li>
                                                                  <li>
                                                                      DOE RUN PERU S.R.L. EN LIQUIDACIÓN EN MARCHA
                                                                  </li>
                                                                  <li>
                                                                      ELECTROCENTRO S.A.
                                                                  </li>
                                                                  <li>
                                                                      ELECTROPERÚ S.A.
                                                                  </li>
                                                                  <li>
                                                                      EPS SEDAM HUANCAYO S.A.
                                                                  </li>
                                                                  <li>
                                                                      FONDO DE EMPLEADOS DE LA SUNAT
                                                                  </li>
                                                                  <li>
                                                                      GMMI INC.
                                                                  </li>
                                                                  <li>
                                                                      INTERSEGURO CIA. DE SEGUROS S.A.
                                                                  </li>
                                                                  <li>
                                                                      LA POSITIVA S.A. EPS – ENTIDAD PRESTADORA DE SALUD
                                                                  </li>
                                                                  <li>
                                                                      LA POSITIVA SEGUROS Y REASEGUROS
                                                                  </li>
                                                                  <li>
                                                                      MAPFRE PERU COMPAÑIA DE SEGUROS Y REASEGUROS
                                                                  </li>
                                                                  <li>
                                                                      MAPFRE PERU S.A. ENTIDAD PRESTADORA DE SALUD
                                                                  </li>
                                                                  <li>
                                                                      PACÍFICO COMPAÑIA DE SEGUROS Y REASEGUROS S.A.
                                                                  </li>
                                                                  <li>
                                                                      PACÍFICO S.A. ENTIDAD PRESTADORA DE SALUD
                                                                  </li>
                                                                  <li>
                                                                      PROTECTA S.A. COMPAÑIA DE SEGUROS
                                                                  </li>
                                                                  <li>
                                                                      RIMAC S.A. ENTIDAD PRESTADORA DE SALUD
                                                                  </li>
                                                                  <li>
                                                                      RIMAC SEGUROS Y REASEGUROS
                                                                  </li>
                                                                  <li>
                                                                      SALUDPOL
                                                                  </li>
                                                                  <li>
                                                                      SANITAS PERÚ S.A. – E.P.S
                                                                  </li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!-- .page-content -->
          </article><!-- #post-## -->
      </main><!-- #main -->
  </div><!-- #primary -->
</div><!-- #content -->
