<div class="caja">
    <div class="logueo">
        <div class="bienvenido">
            <h1>
                Bienvenido
            </h1>
        </div>
        <div class="texto">
            <input type="text" class="form-control" name="usuario" placeholder="DNI" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <div class="texto">
            <input type="password" name="contra" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <div class="boton">
            <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">INICIAR SESIÓN</button>
        </div>
        <div class="palabra">
            <h3>
                ¿Olvidaste tu Contraseña?
            </h3>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="registro">
        <h1>
            REGISTRATE AHORA
        </h1>
    </div>
</div>