<div class="separador">
</div>
<div class="boleta">
  <div class="titulo">
    <H1>
        Boleta de Pago 
    </H1>
  </div>
  <div class="separa">
    separador
  </div>
  <div class="contenido">
    <div class="empresa">
      <h2>
        Clinica Santa Rosa
      </h2>
    </div>
    <div class="pago">
      <div class="derecha">
        <h4>
          Total de Pago:
        </h4>
      </div>
      <div class="izquierda">
        <h4>
          monto del pago
        </h4>
      </div>
    </div>
    <div class="codigo">
      <div class="derecha">
        <h4>
          Codigo de Reserva:
        </h4>
      </div>
      <div class="izquierda">
        <h4>
          poner codigo de reserva
        </h4>
      </div>
    </div>
    <div class="tarjeta">
      <div class="derecha">
        <h5>
          N° de Tarjeta:
        </h5>
      </div>
      <div class="izquierda">
        <h5>
          el numero de la tarjeta
        </h5>
      </div>
    </div>
    <div class="fecha">
      <div class="derecha">
        <h4>
          Fecha:
        </h4>
      </div>
      <div class="izquierda">
        <h4>
          la fecha
        </h4>
      </div>
    </div>
    <div class="botones">
      <div class="derecha">
        <button type="submit">
          Imprimir
        </button>
      </div>
      <div class="izquierda">
        <button type="submit">
          Continuar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="separador">
</div>