.frace
{
    width: 80%;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    margin: auto;
}
.caja
{
    width: 95%;
    margin: auto;
    background: white;
}
.registro
{
    width: 95%;
    margin: auto;
}
.datos
{
    width: 50%;
    float: left;
    padding: 10px;
    margin: auto;
}
input
{
    margin: auto;
    border-radius: 15px;
    width: 90%;
    background: black;
    color: aliceblue;
    font-size: 2em;
}
.registrar
{
    margin: auto;
    width: 40%;

}
button
{
    font-size: 2em;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
}



