<div class="frace">
  <h4>
    Bienvenido al centro Medico Santa Rosa
    Registrate y accede a Reservar tu cita Online
  </h4>
</div>
<br>
<div class="caja">
    <div class="registro">
        <div class="datos">
            <input type="text" class="form-control" name="usuario" placeholder="DNI" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
        <div class="datos">
            <input type="text" class="form-control" name="genero" placeholder="GÉNERO" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
        <div class="datos">
            <input type="text" class="form-control" name="usuario" placeholder="NOMBRES" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
        <div class="datos">
            <input type="text" class="form-control" name="usuario" placeholder="APELLIDO PATERNO" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
        <div class="datos">
            <input type="text" class="form-control" name="usuario" placeholder="APELLIDO MATERNO" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
        <div class="datos">
            <input type="date" class="form-control" name="usuario" placeholder="FECHA DE NACIMIENTO" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
        <div class="datos">
            <input type="text" class="form-control" name="usuario" placeholder="CORREO ELECTRONICO" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
        <div class="datos">
            <input type="text" class="form-control" name="usuario" placeholder="TELEFONO" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
        <div class="datos">
            <input type="text" class="form-control" name="usuario" placeholder="CONTRASEÑA" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
        <div class="datos">
            <input type="text" class="form-control" name="usuario" placeholder="REPITA LA CONTRASEÑA" id="usuario" aria-describedby="sizing-addon1" required>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="registrar">
        <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">
        Registrar
        </button>
    </div>
<br>
<br>
</div>