<div class="separador">
</div>
<div class="caja">
  <div class="formulario">
    <div class="ContentForm">
      <form action="" method="post" name="FormEntrar">
        <div class="input-group input-group-lg">
         <span class="input-group-addon" id="sizing-addon1">
           <i class="glyphicon glyphicon-envelope">
           </i>
          </span>
          <a href="">DNI</a>
         <input type="text" class="form-control" name="DNI" placeholder="DNI" id="DNI" aria-describedby="sizing-addon1" required>
       </div>
       <br>
       <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">
            <i class="glyphicon glyphicon-envelope">
            </i>
           </span>
           <a href="">Nombres</a>
          <input type="text" class="form-control" name="Nombres" placeholder="Nombres" id="Nombres" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <i class="glyphicon glyphicon-envelope">
              </i>
             </span>
             <a href="">Apellidos</a>
            <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos" id="Apellidos" aria-describedby="sizing-addon1" required>
          </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <i class="glyphicon glyphicon-envelope">
              </i>
              </span>
              <a href="">Celular</a>
            <input type="text" class="form-control" name="Celular" placeholder="Celular" id="Celular" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <i class="glyphicon glyphicon-envelope">
              </i>
              </span>
              <a href="">Fecha de Nacimiento</a>
            <input type="date" class="form-control" name="Edad" placeholder="Edad" id="Edad" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <i class="glyphicon glyphicon-envelope">
              </i>
              </span>
              <a href="">Contraseña</a>
              <input type="password" name="contra" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
              <i class="glyphicon glyphicon-envelope">
              </i>
              </span>
              <a href="">Confirmar Contraseña</a>
              <input type="password" name="contra" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
        </div>
        <br>
       <!-- <div class="input-group input-group-lg">
         <span class="input-group-addon" id="sizing-addon1">
           <i class="glyphicon glyphicon-lock">
           </i>
          </span>
         <input type="password" name="contra" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
       </div> -->
       <br>
       <div class="botones">
         <div class="registrar">
            <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">
              Registrar
            </button>
         </div>
       </div>
      </form>
    </div>
  </div>
</div>
<div class="separador">
 </div>