.separador
{
    width: 100%;
    height: 2em;
    background: black;
    color: aqua;
    text-align: center;
}
.caja
{
    width: 80%;
    background: black;
    margin: auto;

}
.formulario
{
    width: 80%;
    background: black;
    margin: auto;
    padding: 4em;
}
.ContentForm
{
    width: 70%;
    background: black;
    margin: auto;
    padding: 7em;
}
input
{
    width: 100%;
    height: 50px;
}
button
{
    background: white;
    color: black;
}
a
{
    color: aqua;
}

@media screen and (max-width:400px)
{
    .separador
{
    width: 100%;
    height: 2em;
    background: black;
    color: aqua;
    text-align: center;
}
.caja
{
    width: 100%;
    background: black;
    margin: auto;

}
.formulario
{
    width: 100%;
    background: black;
    margin: auto;
    padding: 0;
}
.ContentForm
{
    width: 90%;
    background: black;
    margin: auto;
    padding: 0;
}
input
{
    width: 100%;
    height: 50px;
}
button
{
    background: white;
    color: black;
}
a
{
    color: aqua;
}

}