/* css para la cabecera */
/* esto sera puesto en uno posteriormente */
.cabecera
{
    width: 100%;
    background:red;
    margin: auto;
}
.cajas
{
    width: 33%;
    background: skyblue;
    float: left;
    margin: auto;
    text-align: center;
    padding: 1em;
}
.palabra
{
    font-size: 2.5em;
}
.icono
{
    width: 30%;
    margin: auto;
    background: black;
}
/* lo que corresponde */
.contenedor
{
    width: 90%;
    margin: auto;
    background: purple;
    padding: 1em;
    border-radius: 20px;
    text-align:center;
    height: 40em;
}
/* .frase
{
    text-align: center;
    color: white;
} */
.leyenda
{
    width: 100%;
    margin: auto;
}
.histo,.color,.letra
{
    width: 50%;
    margin: auto;
    float: left;
    text-align: center;
}
#celeste
{
    background: skyblue;
    color: skyblue;
}
#rojo
{
    background: red;
    color:red;
}
.horas
{
    width: 90%;
    background: orange;
}
.cajitas
{
    width: 20%;
    margin: auto;
    float: left;
    padding: 1em;
}
.image
{
    width: 90%;
    margin: auto;
    border-radius: 50%;
}
.hora
{
    width: 80%;
    margin: auto;
    text-align: center;
}
.image img
{
    width:100%;
}
