<div class="cabecera">
  <div class="cajas">
    <div class="palabra">
      BIENVENIDO
    </div>
    <div class="icono">
      <img src="" alt="" itemprop="" title="">
    </div>
  </div>
  <div class="cajas">
    <div class="palabra">
      AGENDAR CITA
    </div>
    <div class="icono">
      <img src="" alt="" srcset="" class="" id="">
    </div>
  </div>
  <div class="cajas">
    <div class="palabra">
      CERRAR SESION
    </div>
    <div class="icono">
      <img src="" alt="" srcset="" class="">
    </div>
  </div>
</div>
<br>
<br><br><br><br>
<div class="contenedor">
  <div class="">
      <h2>
        Elige tu horario
      </h2>
  </div>
  <div class="leyenda">
      <div class="histo">
        <div class="color" id="celeste">
          Disponible
        </div>
        <div class="letra">
          Disponible
        </div>
      </div>
    <div class="histo">
      <div class="color" id="rojo">
        No Disponible
      </div>
      <div class="letra">
        No Disponible
      </div>
    </div>
  </div>
  <div class="horas">
    <!-- div.cajitas*15>div.horas -->
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        7am
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        8am
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        9am
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div>
        10am
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        11am
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        12pm
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        1pm
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        2pm
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        3pm
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        4pm
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        5pm
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        6pm
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        7pm
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        8pm
      </div>
    </div>
    <div class="cajitas">
      <div class="imagen">
        <img src="https://image.flaticon.com/icons/png/512/68/68132.png" alt="" title="primero">
      </div>
      <div class="hora">
        9pm
      </div>
    </div>
  </div> 
</div>
