<div class="cabecera">
  <div class="cajas">
    <div class="palabra">
      BIENVENIDO
    </div>
    <div class="icono">
      <img src="" alt="" srcset="" class="">
    </div>
  </div>
  <div class="cajas">
    <div class="palabra">
      AGENDAR CITA
    </div>
    <div class="icono">
      <img src="" alt="" srcset="" class="">
    </div>
  </div>
  <div class="cajas">
    <div class="palabra">
      CERRAR SESION
    </div>
    <div class="icono">
      <img src="" alt="" srcset="" class="">
    </div>
  </div>
</div>
<div class="comentario">
  <div class="circulo">
    <img class="" src="" alt="" srcset="">
  </div>
  <div class="pal1">
    Por favor complete  los siguientes datos  en el formulario para reservar su cita 
  </div>
  <div class="pal2">
      AGENDA TU CITA
  </div>
</div>
<div class="caja">
  <div class="fecha">
    <input type="date" name="" id="">
  </div>
  <div class="botton">
    <button type="submit">
      SIGUIENTE
    </button>
  </div>
</div>

