<!-- el body de contactanos -->
<div id="content" class="site-content">
  <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
          <article id="post-19" class="post-19 page type-page status-publish hentry">
              <div class="page-content">
                  <div class="fl-builder-content fl-builder-content-19 fl-builder-content-primary" data-post-id="19">
                      <div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-579bf7b207e84" data-node="579bf7b207e84">
                          <div class="fl-row-content-wrap">
                              <div class="fl-row-content fl-row-fixed-width fl-node-content">
                                  <div class="fl-col-group fl-node-579bfc7233a79" data-node="579bfc7233a79">
                                      <div class="fl-col fl-node-579bfc7233bb6" data-node="579bfc7233bb6">
                                          <div class="fl-col-content fl-node-content">
                                              <div class="fl-module fl-module-rich-text fl-node-579bfbc80c1ab" data-node="579bfbc80c1ab">
                                                  <div class="fl-module-content fl-node-content">
                                                      <div class="fl-rich-text">
                                                          <p>
                                                              Get in touch and we'll get back to you as soon as we can.  We look forward to hearing from you!
                                                          </p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="fl-col-group fl-node-579bf7b20ada8" data-node="579bf7b20ada8">
                                      <div class="fl-col fl-node-579bf7b20aec1 fl-col-small" data-node="579bf7b20aec1">
                                          <div class="fl-col-content fl-node-content">
                                              <div class="fl-module fl-module-rich-text fl-node-56ec10ad60f43" data-node="56ec10ad60f43">
                                                  <div class="fl-module-content fl-node-content">
                                                      <div class="fl-rich-text">
                                                            <p>
                                                              <!-- <noscript class="ninja-forms-noscript-message">
                                                                  Aviso: Se requiere JavaScript para este contenido.
                                                              </noscript>
                                                                <div id="nf-form-1-cont" class="nf-form-cont" aria-live="polite" aria-labelledby="nf-form-title-1" aria-describedby="nf-form-errors-1" role="form">
                                                                    <div class="nf-loading-spinner">
                                                                    </div>
                                                                </div> -->
                                                            </p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="fl-col fl-node-579bf7b20af0b fl-col-small" data-node="579bf7b20af0b">
                                          <div class="fl-col-content fl-node-content">
                                              <div class="fl-module fl-module-widget fl-node-579bf7d0ecaf2" data-node="579bf7d0ecaf2">
                                                  <div class="fl-module-content fl-node-content">
                                                      <div class="fl-widget">
                                                          <div class="widget wpcw-widgets wpcw-widget-contact">
                                                              <ul>
                                                                  <li class="has-label">
                                                                      <strong>
                                                                          Email
                                                                      </strong>
                                                                      <br>
                                                                      <div>
                                                                          <a href="mailto:a&#110;&#105;&#98;&#97;ljh&#97;&#109;il&#64;g&#109;&#97;&#105;&#108;.c&#111;m">
                                                                              a&#110;&#105;&#98;&#97;ljh&#97;&#109;il&#64;g&#109;&#97;&#105;&#108;.c&#111;m
                                                                          </a>
                                                                      </div>
                                                                  </li>
                                                                  <li class="has-label">
                                                                      <strong>
                                                                          Teléfono
                                                                      </strong>
                                                                      <br>
                                                                      <div>
                                                                          (051) 958899251
                                                                      </div>
                                                                  </li>
                                                                  <li class="has-label">
                                                                      <strong>
                                                                          Fax
                                                                      </strong>
                                                                      <br>
                                                                      <div>
                                                                          (555) 555-5555
                                                                      </div>
                                                                  </li>
                                                                  <li class="has-label">
                                                                      <strong>
                                                                          Dirección
                                                                      </strong>
                                                                      <br>
                                                                      <div>
                                                                          1234 Santa Monica Blvd
                                                                          <br />
                                                                          Beverly Hills, CA 90210
                                                                      </div>
                                                                  </li>
                                                                  <li class="has-map">
                                                                      <iframe src="" data-src="https://www.google.com/maps?q=1234%20Santa%20Monica%20Blvd%0ABeverly%20Hills%2C%20CA%2090210&output=embed&hl=es&z=14" frameborder="0" class="wpcw-widget-contact-map">
                                                                      </iframe>
                                                                  </li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!-- .page-content -->
          </article><!-- #post-## -->
      </main><!-- #main -->
  </div><!-- #primary -->
</div><!-- #content -->

<!-- TODO: Move to Template File. -->
<script>
    var formDisplay=1;
    var nfForms=nfForms||[];
    var form=[];form.id='1';
    form.settings=
{
    "objectType":"Form Setting","editActive":true,
    "title":"Contact Form",
    "created_at":"2016-03-16 20:27:29",
    "show_title":"1",
    "clear_complete":"1",
    "hide_complete":"1",
    "currency":"usd",
    "add_submit":"1",
    "logged_in":"0",
    "default_label_pos":"above",
    "wrapper_class":"",
    "element_class":"",
    "not_logged_in_msg":"",
    "sub_limit_msg":"","calculations":[],
    "fieldContentsData":
    [
        {
            "label":"Name",
            "key":"name",
            "parent_id":1,
            "type":"textbox",
            "created_at":"2016-03-16 20:27:29",
            "objectType":"Field",
            "objectDomain":"fields",
            "editActive":false,
            "label_pos":"above",
            "required":1,
            "placeholder":"",
            "default":"",
            "wrapper_class":"",
            "element_class":"",
            "input_limit":"",
            "input_limit_type":"characters",
            "input_limit_message":"Character(s) left",
            "manual_key":"",
            "disable_input":"",
            "admin_label":"",
            "help_text":"",
            "desc_text":"",
            "desc_pos":"",
            "disable_browser_autocomplete":"",
            "mask":"",
            "custom_mask":"",
            "order":1,
            "container_class":"",
            "input_limit_msg":"Character(s) left",
            "id":1
        },
        {
            "label":"Email",
            "key":"email",
            "parent_id":1,
            "type":"email",
            "created_at":"2016-03-16 20:27:29",
            "objectType":"Field",
            "objectDomain":"fields",
            "editActive":false,
            "label_pos":"above",
            "required":1,
            "default":"",
            "placeholder":"",
            "wrapper_class":"",
            "element_class":"",
            "admin_label":"",
            "help_text":"",
            "desc_text":"",
            "desc_pos":"",
            "order":2,
            "container_class":"",
            "id":2
        },
        {
            "label":"Message",
            "key":"message",
            "parent_id":1,
            "type":"textarea",
            "created_at":"2016-03-16 20:27:29",
            "objectType":"Field",
            "objectDomain":"fields",
            "editActive":false,
            "label_pos":"above",
            "required":1,
            "placeholder":"",
            "default":"",
            "wrapper_class":"",
            "element_class":"",
            "input_limit":"",
            "input_limit_type":"characters",
            "input_limit_message":"Character(s) left",
            "manual_key":"",
            "disable_input":"",
            "admin_label":"",
            "help_text":"",
            "desc_text":"",
            "desc_pos":"",
            "disable_browser_autocomplete":"",
            "textarea_rte":"",
            "disable_rte_mobile":"",
            "textarea_media":"",
            "order":3,
            "container_class":"",
            "input_limit_msg":"Character(s) left",
            "id":3
        },
        {
            "label":"What is thirteen minus 6?",
            "key":"spam_1",
            "parent_id":1,
            "type":"spam",
            "created_at":"2016-03-16 20:27:29",
            "objectType":"Field",
            "objectDomain":"fields",
            "editActive":false,
            "label_pos":"above",
            "required":1,
            "placeholder":"",
            "default":"",
            "wrapper_class":"",
            "element_class":"",
            "input_limit":"",
            "input_limit_type":"characters",
            "input_limit_message":"Character(s) left",
            "manual_key":1,
            "disable_input":"",
            "admin_label":"",
            "help_text":"",
            "desc_text":"",
            "desc_pos":"",
            "spam_answer":7,
            "order":4,
            "container_class":"",
            "input_limit_msg":"Character(s) left",
            "id":4
        },
        {
            "label":"Send",
            "key":"send",
            "parent_id":1,
            "type":"submit",
            "created_at":"2016-03-16 20:27:29",
            "objectType":"Field",
            "objectDomain":"fields",
            "editActive":false,
            "processing_label":"Processing",
            "wrapper_class":"",
            "element_class":"",
            "order":5,
            "container_class":"",
            "id":5
        }
    ],
    "formContentData":
    [
        "nombre_1563314589080",
        "correo_1563314601521",
        "mensaje_1563314606426",
        "spam_1484329757987",
        "send"
    ],
    "allow_public_link":0,
    "embed_form":"",
    "unique_field_error":"A form with this value has already been submitted.",
    "ninjaForms":"Ninja Forms",
    "changeEmailErrorMsg":"Introduce una direcci\u00f3n de correo electr\u00f3nico v\u00e1lida.",
    "changeDateErrorMsg":"\u00a1Introduce una fecha v\u00e1lida!",
    "confirmFieldErrorMsg":"Estos campos deben coincidir.",
    "fieldNumberNumMinError":"Error de n\u00famero m\u00ednimo",
    "fieldNumberNumMaxError":"Error de n\u00famero m\u00e1ximo",
    "fieldNumberIncrementBy":"Increm\u00e9ntalo por ",
    "fieldTextareaRTEInsertLink":"Insertar enlace",
    "fieldTextareaRTEInsertMedia":"Insertar medios",
    "fieldTextareaRTESelectAFile":"Seleccione un archivo",
    "formErrorsCorrectErrors":"Corrige los errores antes de enviar este formulario.",
    "validateRequiredField":"Esto es un campo obligatorio.",
    "honeypotHoneypotError":"Error de Honeypot",
    "fileUploadOldCodeFileUploadInProgress":"Carga de archivo en curso.",
    "fileUploadOldCodeFileUpload":"CARGA DE ARCHIVO",
    "currencySymbol":"$",
    "fieldsMarkedRequired":"Los campos marcados con <span class=\"ninja-forms-req-symbol\">*<\/span> son obligatorios",
    "thousands_sep":".",
    "decimal_point":",",
    "siteLocale":"es_ES",
    "dateFormat":"d\/m\/Y",
    "startOfWeek":"0",
    "of":"de",
    "previousMonth":"Mes anterior",
    "nextMonth":"Pr\u00f3ximo mes",
    "months":
    [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
    ],
    "monthsShort":
    [
        "Ene",
        "Feb",
        "Mar",
        "Abr",
        "Mayo",
        "Jun",
        "Jul",
        "Ago",
        "Sep",
        "Oct",
        "Nov",
        "Dic"
    ],
    "weekdays":
    [
        "Domingo",
        "Lunes",
        "Martes",
        "Mi\u00e9rcoles",
        "Jueves",
        "Viernes",
        "S\u00e1bado"
    ]
    ,
    "weekdaysShort":
    [
        "Dom",
        "Lun",
        "Mar",
        "Mi\u00e9",
        "Jue",
        "Vie",
        "S\u00e1b"
    ],
    "weekdaysMin":
    [
        "Do",
        "Lu",
        "Ma",
        "Mi",
        "Ju",
        "Vi",
        "S\u00e1"
    ],
    "currency_symbol":"",
    "beforeForm":"",
    "beforeFields":"",
    "afterFields":"",
    "afterForm":""
};
form.fields=
[
    {
        "objectType":"Field",
        "objectDomain":"fields",
        "editActive":false,
        "order":999,
        "type":"textbox",
        "label":"Nombre",
        "key":"nombre_1563314589080",
        "label_pos":"above",
        "required":1,
        "input_limit_type":"characters",
        "input_limit_msg":"Character(s) left",
        "manual_key":false,
        "default":"",
        "placeholder":"",
        "container_class":"",
        "element_class":"",
        "input_limit":"",
        "admin_label":"",
        "help_text":"",
        "mask":"",
        "custom_mask":"",
        "custom_name_attribute":"",
        "personally_identifiable":"",
        "value":"",
        "id":12,
        "beforeField":"",
        "afterField":"",
        "parentType":"textbox",
        "element_templates":
        [
            "textbox",
            "input"
        ],
        "old_classname":"",
        "wrap_template":"wrap"
    },
    {
        "objectType":"Field",
        "objectDomain":"fields",
        "editActive":false,
        "order":999,
        "type":"email",
        "label":"Correo",
        "key":"correo_1563314601521",
        "label_pos":"above",
        "required":1,
        "default":"",
        "placeholder":"",
        "container_class":"",
        "element_class":"",
        "admin_label":"",
        "help_text":"",
        "custom_name_attribute":"email",
        "personally_identifiable":1,
        "value":"",
        "id":13,
        "beforeField":"",
        "afterField":"",
        "parentType":"email",
        "element_templates":
        [
            "email",
            "input"
        ],
        "old_classname":"",
        "wrap_template":"wrap"
    },
    {
        "objectType":"Field",
        "objectDomain":"fields",
        "editActive":false,
        "order":999,
        "type":"textarea",
        "label":"Mensaje",
        "key":"mensaje_1563314606426",
        "label_pos":"above",
        "required":1,
        "input_limit_type":"characters",
        "input_limit_msg":"Character(s) left",
        "manual_key":false,"default":"",
        "placeholder":"",
        "container_class":"",
        "element_class":"",
        "input_limit":"",
        "admin_label":"",
        "help_text":"",
        "textarea_rte":"",
        "disable_rte_mobile":"",
        "textarea_media":"",
        "value":"",
        "id":14,
        "beforeField":"",
        "afterField":"",
        "parentType":"textarea",
        "element_templates":
        [
            "textarea",
            "input"
        ],
        "old_classname":"",
        "wrap_template":"wrap"
    },
    {
        "objectType":"Field",
        "objectDomain":"fields",
        "editActive":false,
        "order":999,
        "type":"spam",
        "label":"\u00bfCuabto es de 2019 menos 1997?",
        "key":"spam_1484329757987",
        "label_pos":"above",
        "required":1,
        "input_limit_type":"characters",
        "input_limit_msg":"Character(s) left",
        "manual_key":true,
        "spam_answer":22,
        "default":"",
        "placeholder":"",
        "container_class":"",
        "element_class":"",
        "input_limit":"",
        "admin_label":"",
        "help_text":"",
        "value":"",
        "drawerDisabled":false,
        "id":15,"beforeField":"",
        "afterField":"",
        "parentType":"spam",
        "element_templates":
        [
            "textbox",
            "input"
        ],
        "old_classname":"",
        "wrap_template":"wrap"
    },
    {
        "objectType":"Field",
        "objectDomain":"fields",
        "editActive":false,
        "order":999,
        "type":"submit",
        "label":"Send",
        "processing_label":"Sending ...",
        "key":"send",
        "container_class":"",
        "element_class":"",
        "id":16,"beforeField":"",
        "afterField":"",
        "value":"",
        "label_pos":"above",
        "parentType":"textbox",
        "element_templates":
        [
            "submit",
            "button",
            "input"
        ],
        "old_classname":"",
        "wrap_template":"wrap-no-label"
    }
];
nfForms.push(form);
</script>