<div class="separador">
</div>
<div class="caja">
  <div class="confirmacion">
    <div class="titulo">
      <h1>
        Clinica Santa Rosa 
      </h1>
    </div>
    <hr>
    <hr>
    <div class="contenido">
      <div class="informacion">
        <div class="info">
          <h3>
            poner la direccion
          </h3>
        </div>
        <div class="info">
          <h3>
            telefono de la empresa
          </h3>
        </div>
        <div class="info">
          <h3>
            pagina de la clinica
          </h3>
        </div>
        <div class="info">
          <h3>
            Codigo: codigo de la cita
          </h3>
        </div>
      </div>
      <hr>
      <hr>
      <div class="cliente">
        <div class="doble">
          <h6>
            DNI: dni cliente
          </h6>
        </div>
        <div class="doble">
          <h6>
            Edad: edad cliente
          </h6>
        </div>
        <div class="doble">
          <h6>
            Fecha: cita
          </h6>
        </div>
        <div class="doble">
          <h6>
            Hora: cita
          </h6>
        </div>
        <div class="linea">
           a<hr>
        </div>
        <div class="one">
          <h6>
            Especialidad: especialidad elegida
          </h6>
        </div>
        <div class="one">
          <h6>
            Med. Atención: medico a cargo 
          </h6>
        </div>
        <div class="one">
          <h6>
            Consultorio: Consultorio otorgado
          </h6>
        </div>
        <div class="one">
          <h6>
            Fecha de Reserva: la fecha
          </h6>
        </div>
      </div>
    </div>
    <app-cipostergacion></app-cipostergacion>
  </div>
  
</div>



<!-- <div class="boleta">
  <div class="titulo">
    <H1>
        Boleta de Pago 
    </H1>
  </div>
  <div class="separa">
    separador
  </div>
  <div class="contenido">
    <div class="empresa">
      <h2>
        Clinica Santa Rosa
      </h2>
    </div>
    <div class="pago">
      <div class="derecha">
        <h4>
          Total de Pago:
        </h4>
      </div>
      <div class="izquierda">
        <h4>
          monto del pago
        </h4>
      </div>
    </div>
    <div class="codigo">
      <div class="derecha">
        <h4>
          Codigo de Reserva:
        </h4>
      </div>
      <div class="izquierda">
        <h4>
          poner codigo de reserva
        </h4>
      </div>
    </div>
    <div class="tarjeta">
      <div class="derecha">
        <h5>
          N° de Tarjeta:
        </h5>
      </div>
      <div class="izquierda">
        <h5>
          el numero de la tarjeta
        </h5>
      </div>
    </div>
    <div class="fecha">
      <div class="derecha">
        <h4>
          Fecha:
        </h4>
      </div>
      <div class="izquierda">
        <h4>
          la fecha
        </h4>
      </div>
    </div>
    <div class="botones">
      <div class="derecha">
        <button type="submit">
          Imprimir
        </button>
      </div>
      <div class="izquierda">
        <button type="submit">
          Continuar
        </button>
      </div>
    </div>
  </div> -->
<!-- </div> -->
<div class="separador">
</div>